<div>
    <nav role="navigation">
        <ul>
            <div>
                <li><a href="{% url 'account' %}">Compte</a></li>
                <li><a href="{% url 'papers-page' %}">Papiers</a></li>
                {% if request.user.chercheur.type == request.user.chercheur.ChercheurType.PROFESSEUR %}
                {% if request.user.chercheur.professeur.isDirecteurLabo %}
                <li><a href="#">Professeurs</a></li>
                {% endif %}
                <li><a href="#">Thesard</a></li>
                <li><a href="#">Statistiques</a></li>
            </div>
            <div>
                <li><a href="{% url 'logout' %}">Déconnecter</a></li>
            </div>
            {% endif %}
        </ul>
    </nav>
</div>